.env
.venv/
__pycache__/

#Cost: $10.03 - $9.89 = $0.14
#damn in like a minute, ts was FAST
#make sure to test with other companies
#make sure to check the numbers across their sources (just plug and chug into Claude)